In [ ]:
#TASK1

import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.random.randint(0,100,size=(4, 4)), columns=list('ABCD'))

In [ ]:
df

    A   B   C   D
0  43  46  26  69
1  59  19  51  26
2  38  77  38   3
3  20   4  18  33

In [ ]:
#TASK 2
df.columns = ['Random value 1', 'Random value 2', 'Random value 3','Random value 4']

In [ ]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0              43              46              26              69
1              59              19              51              26
2              38              77              38               3
3              20               4              18              33

In [ ]:
#TASK 3
df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        40.000000       36.500000       33.250000       32.750000
std         16.062378       32.109189       14.407753       27.354159
min         20.000000        4.000000       18.000000        3.000000
25%         33.500000       15.250000       24.000000       20.250000
50%         40.500000       32.500000       32.000000       29.500000
75%         47.000000       53.750000       41.250000       42.000000
max         59.000000       77.000000       51.000000       69.000000

In [ ]:
#TASK 4
df.isnull().values.any()

False

In [ ]:
df.dtypes

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

In [ ]:
#TASK 5
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0              46              26
1              19              51
2              77              38
3               4              18

In [ ]:
df.iloc[:, [1, 2]]

   Random value 2  Random value 3
0              46              26
1              19              51
2              77              38
3               4              18